@import url('https://fonts.googleapis.com/css?family=Bungee|Josefin+Sans|Kumar+One+Outline');
      
:root{
    --principal: #349B70;
    --secundario: #00F08C;
    --resaltado: #F06B00;
    --importante: #F02500;
    --blanco: #F5F5F5;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

 body{
     width: 90vw; 
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header1 a1 a2 a3 a4"
    
    "main1 main1 main2 main2"
    "main3 main3 main4 main4"
    "footer footer footer footer";
    gap: 10px; */
    
}
body header {
  background-color: var(--secundario);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  height: 50px;

}
.link{
  margin: 3px;
  
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}