@import url('https://fonts.googleapis.com/css?family=Bungee|Josefin+Sans|Kumar+One+Outline');
      
:root{
  --principal: #c622f9;
  --secundario: #d440fb;
  --resaltado: #8e28a0;
  --noImportante: #f17bfe;
  --claro: #ff99ff;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

 body{
     width: 90vw; 
    margin: auto;
  
    
}
body header {
  background-color: var(--secundario);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  height: 50px;

}
.link{
  margin: 3px;
  
}
p{
  font-family: "Signika Negative";
}

.buttonEnviar {
  width: 80px;
  height: 20px;
  transition: 0.5s;
  background-color: var(--secundario);
  color: whitesmoke;
}

.buttonEnviar:hover {
  width: 105px;
  background-color: aqua;
  /*border-radius: 15px;
   width: 90px;
  height: 23px; */
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: var(--noImportante);
  margin-top: 25px;

}