@import url('paleta.css');




header {
    /*background-color:var(--secundario);
     color: var(--principal); */
    padding: 10px 20px;
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: row;
    position: sticky;

    & h1{
        align-items: baseline;
    }
    

    & nav { 

    
        display: flex;
        justify-content: center;
        overflow-y:visible;
        background-color: var(--principal);
        flex-direction: column;

        width: fit-content;
    
        & i{
    
            font-size: 1rem;
        }
    
        & ul{
            
            width: fit-content;

            margin-left: auto;
            
            display: flex; /* Establece el contenedor como un contenedor de flexbox */
            
            justify-content: space-between; /* Distribuye los elementos equitativamente a lo largo del contenedor */
    
            flex-direction: column;

            background-color: var(--principal);

            margin-top: 100%;
    
            
    
    
            & li {


    
                display: block;
    
                padding: 0dp;
                
            }
    
            
            & a{
    
            height: max-content;
            width: max-content;
            color: var(--blanco);
            padding: 5px;
    
            }
        }
    
        & #menuIcon{
            background-color: var(--blanco);
        }
        
        & button {
            width: 100dp;
            height: 100dp;
        }
        
    }
}

.logo {
    font-size: 24px;
}



.hidden {

    display: none;

}

.visible {

    display: flex;

}


nav .nav-links {
    display: none;
}

nav input[type="checkbox"] {
    display: none;
}

nav .show-menu-btn {
    cursor: pointer;
    font-size: 24px;
}

nav input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}