@import url('paleta.css');


header {
    background-color:var(--secundario);
    color: var(--principal);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    display: contents; /* Hace que los hijos se desplieguen como hijos del padre de header (el body)*/
    & .header1{grid-area: header1; place-self: end}
    & .header2{
      grid-area: header2;
        & h1{font-family: 'Bungee', cursive; color: var(--resaltado);}
        & p{font-family: 'Josefin Sans', sans-serif;}
      }

}

.logo {
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;

    grid-area: nav;
    display: flex;
    background-color: var(--principal);
    justify-content: space-evenly;
    & a{
        flex: 25%;
        text-align: center;
        color: var(--blanco);
        padding: 15px;
    }
}

nav .nav-links {
    display: none;
}

nav input[type="checkbox"] {
    display: none;
}

nav .show-menu-btn {
    cursor: pointer;
    font-size: 24px;
}

nav input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}