@import url('paleta.css');


header {
    background-color:var(--secundario);
    color: var(--principal);
    padding: 10px 20px;
    display: flex;
    width: max-content;
    height: max-content;
}

.logo {
    font-size: 24px;
}

nav { 

    display: flex;
    overflow-y:hidden;
    background-color: var(--principal);

    & ul{
        
        & a{

        height: max-content;
        width: max-content;
        text-align: center;
        color: var(--blanco);
        padding: 5px;

        }
    }

    #menuIcon{
        background-color: var(--blanco);
    }
    
    
}

.hidden {

    display: none;

}


nav .nav-links {
    display: none;
}

nav input[type="checkbox"] {
    display: none;
}

nav .show-menu-btn {
    cursor: pointer;
    font-size: 24px;
}

nav input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}